html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: #f2f2f2;
    padding: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);    
    background-color: #fff;
}

.grid__item {
    padding: 20px;
}

.grid__item--h3 {
    margin: 0;
    padding: 20px;
    border-bottom: 3px solid #f2f2f2;
}

.form {
    display: flex;
    justify-content: space-between;
}

.form__input {    
    border: 2px solid #f2f2f2;
    width: 82%;
}

.form__button {
    border: none;
    background-color: teal;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

.todoList {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #fff;
    }

.flex {
    border-top: 3px solid #f2f2f2;
    background-color: #fff;
}

.list {
    padding: 0;
}

.list__li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #fff;
    flex-wrap: wrap;
    border-bottom: 3px solid #f2f2f2;
    padding: 20px 20px;
}

.list__item--done {
    text-decoration: line-through;
}

.buttonRemove {
    border: none;
    background-color: crimson;
    color: #fff;
    font-weight: 700;
    padding: 10px 10px;
    cursor: pointer;
}

.buttonCheck {
    border: none;
    background-color: green;
    color: #fff;
    font-weight: 700;
    padding: 10px 10px;
    cursor: pointer;
}

@media (max-width: 767px){
    .form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .form__button {
        margin-top: 30px;
        border: none;
        background-color: teal;
        color: #fff;
        font-weight: 700;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
    }
    .form__input {    
        border: 2px solid #f2f2f2;
        flex-basis: 100%;
    }
}