html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: #ccc;
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid__wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    
}