html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: #f2f2f2;
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);    
    background-color: #fff;
}

.grid__item {
    padding: 20px;
}

.grid__item--h3 {
    margin: 0;
    padding: 20px;
    border-bottom: 3px solid #f2f2f2;
}

.form {
    display: flex;
    justify-content: space-between;
}

.form__input {    
    border: 2px solid #f2f2f2;
    width: 82%;
}

.form__button {
    border: none;
    background-color: teal;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

.todoList {
    padding: 20px;
    margin-top: 10px;
    background-color: #fff;
}